mixin schedule_header
    .schedule__header(class= attributes.class)
        .schedule__inner
            +button-arrow('prev')(href="#").schedule__nav.schedule__nav_prev
            table.schedule__calendar.calendar-grid
                tr.schedule__days
                    - let date = new Date()
                    - for(let i = 0; i < 5;i++)
                        - date.setDate(date.getDate()+1)
                        td= date.toLocaleString('ru', {month:"2-digit", day:"2-digit"})
                tr.schedule__week
                    - date = new Date()
                    - for(let i = 0; i < 5;i++)
                        - console.log(now)
                        - date.setDate(date.getDate()+1)
                        td= date.toLocaleString('ru', {weekday:"short"})
            +button-arrow('next')(href="#").schedule__nav.schedule__nav_next

mixin schedule_body(isExpand = false)
    .schedule__body
        .schedule__inner(class= !isExpand? "schedule__inner_fold js-expand-target" : "")
            table.timetable.calendar-grid
                - const currentDate = new Date()
                - const month = currentDate.getMonth()
                - let day = currentDate.getDate()
                - console.log(day)
                - for(let hour = 8; hour <= 21;hour++)
                    tr  
                        - let rowsCount = 5
                        - for(let date = day, j= 0; j < rowsCount; date++, j++)
                            - let emptyIndex = Math.ceil(Math.random() * rowsCount)
                            - let busyIndex = Math.ceil(Math.random() * rowsCount)
                            if (j != emptyIndex && hour != busyIndex)
                                td.timetable__cell
                                    a.timetable__time.timetable__time_available.js-order-time.js-open(data-modal="order" href="#" data-ordertime=`2021/${month}/${date+1} ${hour}:00`)= `${hour}:00`
                            else if (j == busyIndex || hour == busyIndex)
                                td.timetable__cell
                                    span.timetable__time= `${hour}:00`
                            else
                                td.timetable__cell
    if !isExpand
        .schedule__footer 
            a.button.schedule__more-link.js-expand-trigger(data-expand="")
                span.js-expand-label Развернуть все
                +button-arrow(dir, true).schedule__more-link__arrow


mixin schedule(isExpand)
    .schedule.schedule_single
        +schedule_header.schedule__header_single
        +schedule_body(isExpand)

mixin schedule__more-link(title, dir=null)
    a.button.schedule__more-link&attributes(attributes)
        span.schedule__more-label= title
        +button-arrow(dir, true).schedule__more-link__arrow
