.header-desktop
    .header-desktop__top
        a.header__logo.header-desktop__logo(href="/")
            img.logo(src= logo, alt=sitename)

        .header-summary.header-desktop__summary

            .header-summary__address
                .header-info.header-info_address
                    span.header-info__title Клиника:
                    .header-info__content
                        a.header__link.link.link_color(href="#popup_open") #{address.city},&nbsp;#{address.address}

            .header-summary__schedule
                .header-info.header-info_schedule
                    span.header-info__title График работы:
                    .header-info__content
                        | !{scheduleInfo}

            .header-summary__account
                .header-info.header-info_personal
                    span.header-info__title Личный кабинет:
                    .header-info__content.header-info__content_flex
                        a.header__link.link.link_color(href="#popup_open") Вход
                        a.header__link.link.link_color(href="#popup_open") Регистрация

            a.header-desktop__button.button(href="#") Записаться на прием

        .header-desktop__contacts
            a.header-desktop__phone.link(href= 'tel:'+ phoneLink)= phone
            span.header-desktop__schedule !{scheduleInfo}

        nav.header-desktop__navbar.icon-menu
            a.icon-menu__item(href="account")
                svg #[use(href="icons.svg#profile")]
            a.icon-menu__item(href="schedule")
                svg #[use(href="icons.svg#calendar")]
            a.icon-menu__item(href="tel:"+ phoneLink)
                svg #[use(href="icons.svg#phone")]

    nav.header-desktop__bottom
        ul.header-desktop__menu.main-menu
            each link in links
                li.main-menu__item.link
                    a.link(href="#")= link