.header-mobile.js-menu
    .header-mobile__inner
        .header-mobile__top.header-info
            span.header-info__title Клиника: &nbsp;
            span.header-info__content
                a.header__link(href="#") #{address.city},&nbsp;#{address.address}

        .container
            .header-mobile__navbar
                a.header__logo(href=".")
                    img.logo(src= logo, alt=sitename)
                .icon-menu
                    a.icon-menu__item(href="account")
                        svg #[use(href="icons.svg#profile")]
                    a.icon-menu__item(href="schedule")
                        svg #[use(href="icons.svg#calendar")]
                    a.icon-menu__item(href="tel:"+ phoneLink)
                        svg #[use(href="icons.svg#phone")]
                    .icon-menu__item.js-menu-toggle
                        button.icon-menu__toggle.icon-menu__toggle_open
                            svg #[use(href="icons.svg#burger")]
                        button.icon-menu__toggle.icon-menu__toggle_close
                            svg #[use(href="icons.svg#menu-close")]

    .dropdown-menu
        ul.header-mobile__menu.main-menu
            each link in links
                li.main-menu__item.link
                    a.link(href="#")= link

        .dropdown-menu__footer
            .header-info.header-info_unstyled 
                span.header-info__title График работы:
                span.header-info__content !{scheduleInfo}
            a.button(href="schedule") Записаться на прием
            