- var links = ['Лечение','Диагностика','Услуги','Специалисты','Прайс','Акции', 'О компании', 'Контакты']
//- header start
.header-wrapper
    //- header desktop start
    .header.header_desktop
        .header__top
            .logo__wrapper.header__logo
                a(href="/")
                    img.logo(src= logo, alt=sitename)
            .header-menu
                +header-card("Клиника:")(type="address")
                    a.header__link(href="#popup_open") #{address.city},&nbsp;#{address.address}

                +header-card("График работы:")(type="schedule")
                    | Пн. — Сб. с 9:00 до 21:00

                +header-card("Личный кабинет:")(type="personal")
                    a.header__link(href="#popup_open") Вход
                    a.header__link(href="#popup_open") Регистрация
                    
                a.header-menu__button.button(href="") Записаться на прием

            .header-info.header__contacts
                a.header__phone.link(href= 'tel:'+ phone)= phone
                span.header-info__content.header__schedule !{scheduleInfo}

            nav.icon-menu
                a.mobile-menu__item.mobile-menu__item_personal(href="#")  
                    img(src="icons.svg#profile", alt="Личный кабинет")
                a.mobile-menu__item.mobile-mobile-menu__item_add(href="#")  
                    img(src="icons.svg#calendar", alt="Записаться")
                a.mobile-menu__item.mobile-mobile-menu__item_phone(href="#")  
                    img(src="icons.svg#phone", alt="Позвонить")

        nav.header__bottom
            ul.header__bottom-menu.main-menu
                each link in links
                    li.main-menu__item.link
                        a.link(href="#")= link
    //- mobile menu start
    .header.header_mobile
        .header__mobile-inner
            .header__top
                .header-info.header-info_mobile-top
                    span.header-info__headline Клиника:
                    span.header-info__content
                        a.header__link(href="#") #{address.city},&nbsp;#{address.address}
            .mobile-menu-wrapper
                .container.mobile-menu
                    .logo__wrapper.header__logo
                        a(href="/")
                            img.logo(src= logo, alt=sitename)
                    nav.icon-menu
                        a.icon-menu__item
                            svg #[use(xlink:href="icons.svg#profile")]
                        a.icon-menu__item
                            svg #[use(xlink:href="icons.svg#calendar")]
                        a.icon-menu__item
                            svg #[use(xlink:href="icons.svg#phone")]
                        a.icon-menu__item.js-menu-toggler(href="#")
                            svg.icon-menu__toggle.icon-menu__toggle_open #[use(xlink:href="icons.svg#burger")]
                            svg.icon-menu__toggle.icon-menu__toggle_close #[use(xlink:href="icons.svg#close")]
        .dropdown-menu.js-menu
            ul.main-menu.main-menu_mobile
                each link in links
                    li.main-menu__item.link
                        a.link(href="#")= link
            .dropdown-menu__info
                .header-info 
                    span.header-info__headline График работы:
                    span.header-info__content !{scheduleInfo}
                .button Записаться на прием

