mixin contact(data)
    +spoiler(data.address, 'contact')
        table.contact__table
            each row in data.table 
                tr 
                    td= row.name
                    td !{row.value}
        .contact__comment= data.comment 
        .contact__transport-list
            each item in data.transport
                .contact__transport(class=`contact__transport_type_${item.type}`)
                    svg.contact__transport-icon
                        use(href=`contact_icons.svg#${item.type}`)
                    | #{item.value}